@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap");

body {
  font-family: "Open Sans Condensed", sans-serif;
}

button,
.btn {
  font-weight: 600;
  padding: 16px 40px;
  border-radius: 8px;
  font-size: 20px;
  font-family: "Open Sans Condensed", sans-serif;
  margin: 10px;
}

button:hover {
  transform: scale(1.1);
}

.btn-primary {
  background-color: aquamarine;
  color: black;
  border: 2px black solid;
}

.btn-secondary {
  background-color: plum;
  color: black;
  border: 2px black solid;
}

.btn-social {
  background-color: greenyellow;
  color: black;
  border: 2px black solid;
}

.btn-youtube {
  background-color: red;
  color: white;
  border: 2px black solid;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headingContainer {
  /* padding-top: 60px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 250px;
}

h1 {
  font-size: 42px;
  font-family: "Open Sans Condensed", sans-serif;
}

.replay-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  width: 100%;
}

.share-recording {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}

.video-preview {
  width: 100%;
  max-width: 600px;
}

.prevRecordings {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 1200px;
  max-width: 100%;
}

.recordingSingle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 200px;
  border-radius: 10px;
  background-color: darkgrey;
  margin: 4px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
